{% load static %}
<main id="friends-home" class="friends-page">
    {% for key, section in sections.items %}
        <div class="friends-block">
            <div class="friends-block-header">
                <h2>{{ section.title }}</h2>
                <img src="{% static 'images/see_all.svg' %}" 
                    alt="Дивитись всі" 
                    data-section-link="{{ key }}" 
                    style="cursor:pointer;">
            </div>
            <div class="friends-cards-grid" data-home-section="{{ key }}">
                {% include "user_app/particles/friends/friend_cards.html" with users=section.users section=key %}
            </div>
        </div>
    {% endfor %}
</main>