{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}Чати{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'chat_app/chat_index.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/group_modal.css' %}">
{% endblock %}

{% block frame1 %}{% endblock %}
{% block frame2 %}{% endblock %}
{% block frame3 %}{% endblock %}

{% block content %}
    <main class="chat-page">
        {% include "chat_app/particles/edit_group_modal.html" %}
        {% include "chat_app/particles/chat_contacts.html" %}
        {% include "chat_app/particles/chat_main.html" %}
        {% include "chat_app/particles/chat_sidebar.html" %}
        {% include "chat_app/particles/group_modal.html" with contacts=contacts %}
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'chat_app/chat_index.js' %}"></script>
    <script src="{% static 'chat_app/group_chat.js' %}"></script>
    <script src="{% static 'chat_app/edit_group_modal.js' %}"></script>
{% endblock %}