{% load static %}
<!-- Відкриваємо блок особистих повідомлень. -->
<section class="chat-messages-block">
    <!-- Заголовок з кнопкою "Дивитись всі" -->
    <div class="chat-block-header">
    <img src="{% static 'chat_app/images/PersonalChat.svg' %}" alt="Повідомлення">
    <a href="#"><img src="{% static 'images/see_all.svg' %}" alt="Дивитись всі"></a>
    </div>
    <!-- Перебираємо особисті чати поточного користувача. -->
    {% for chat in personal_chats %}
        {% for person in chat.users.all %}
            {% if person.id != request.user.id %}
                <button type="button" class="chat-user-button" data-chat-user="{{ person.id }}" data-chat-username="{{ person.email }}">
                    {{ person.email }}
                </button>
            {% endif %}
        {% endfor %}
    {% empty %}
        <p>Чатів поки немає</p>
    {% endfor %}
</section>