{% load static %}
<!-- Обгортка лівої колонки -->
<div class="chat-contacts-wrap">
    <!-- Показуємо кнопку створення групового чату. -->
    <button type="button" class="chat-create-btn">
        <img src="{% static 'chat_app/images/CreateGroup.svg' %}" alt="Створити груповий чат">
    </button>
    <!-- Відкриваємо ліву колонку контактів. -->
    <aside class="chat-contacts">
        <!-- Відкриваємо блок списку контактів. -->
        <section class="chat-block">
            <!-- Показуємо заголовок блоку контактів. -->
            <img src="{% static 'chat_app/images/Contact.svg' %}" alt="Контакти">
            <div class="chat-search-wrap">
                <img src="{% static 'chat_app/images/Search.svg' %}" class="chat-search-icon" alt="search">
                <input type="text" class="chat-search" placeholder="Пошук">
            </div>
            {% for friend in friends %}
                <button type="button" class="chat-user-button" data-chat-user="{{ friend.id }}" data-chat-username="{{ friend.username|default:friend.email }}">
                    {{ friend.username|default:friend.email }}
                </button>
            {% empty %}
                <p>Контактів поки немає</p>
            {% endfor %}
        </section>
    </aside>
</div>